.app {
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 40px auto;
  min-height: 98vh;
  margin: 2px;
  padding-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0 6px;
}

.header h1 {
  display: inline;
  margin: 0;
  padding: 0;
}

.scoresheet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2px;
}

@media (min-width: 600px) {
  .scoresheet {
    grid-template-columns: 130px 130px repeat(6, 130px);
  }
}

.section-divider {
  height: 26px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.cell {
  height: 40px;
  border: solid 1px black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 6px;
}

.instructions {
  justify-content: center;
  text-align: center;
  font-size: 0.9em;
}

.cell .die-label {
  display: inline-block;
  width: 50px;
}

.cell svg {
  font-size: 1.6em;
  margin: 0 4px;
}

.score-cell {
  font-size: 1.2em;
  justify-content: center;
}

.input-cell {
  padding: 0;
}

.input-cell input {
  width: 40px;
  margin: auto;
  font-size: 1.2em;
  text-align: center;
}

.player-name {
  justify-content: center;
}
