.app {
  padding: 10px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex-basis: 1;
}

.flex-align-items-start {
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
}

.cell {
  height: 40px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6px;
}

